.mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: max-content;
}

.download-field mat-label {
  font-size: small;
}

.svg-drawing-board {
  display: flex;
  justify-content: center;
  padding: 5em;
}
